div#menu-bar
  div#global-search
    input(placeholder="search", type="text")
    ul.autocomplete
  span#management
    span.menu
      span.name
      span.down-arrow ▼
    ul.dropdown
      li
        a(href="/settings") Settings
      li
        a(href="/logout") Logout

nav
  ul
    li.first
      a.contexts.active(href="contexts") Contexts
div#simple-gtd-app
  div.content
div#pane1.pane
div#pane2.pane
div#pane3.pane
