div#menu-bar
  div#global-search
    input(placeholder="search", type="text")
    ul.autocomplete
nav
  ul
    li.first
      a.tags(href="tags") Tags
div#shadow-cover
div#simple-gtd-app
  div.content
div#pane1.pane
div#pane2.pane
div#pane3.pane
