.modal-backdrop {
  @include opacity(0.8);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: black;
}
.modal {
  @include border-radius(6px);
  @include box-shadow(0 3px 7px rgba(0, 0, 0, 0.3));
  @include background-clip('padding-box');

  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1050;
  overflow: auto;
  width: 560px;
  margin: -250px 0 0 -280px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999; // IE6-7
}
.modal-header {
  @include rhythm(0, 0.5, 0.5, 0);
  @include trailing-border(1px, 0.5);

  border-color: #eee;
  padding-left: 1.5em;
  padding-right: 1.5em;
  h3 {
    @include adjust-font-size-to(18px, 2);

    margin: 0
  }
}
.close {
  @include adjust-font-size-to(20px, 2);
  @include opacity(0.2);

  float: right;
  font-weight: bold;
  color: black;
  text-shadow: 0 1px 0 white;
}
.close:hover {
  @include opacity(0.4);

  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal-body {
  @include rhythm-borders(0px, 1);

  padding-bottom: 0px;
  overflow-y: auto;
  max-height: 50%;
}
.modal-form {
  margin-bottom: 0;
}
.modal-footer {
  @include box-shadow('inset 0 1px 0 #ffffff');
  @include rhythm-borders(0px, 1);
  @include leading-border();
  @include trailer(0);
  @include border-bottom-radius(6px);

  border-color: #ddd;
  text-align: right;
  background-color: $grey95;
  *zoom: 1;
}
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: "";
  clear: both;
}
