/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "normalize";
@import "typography";
@import "compass/css3";
@import "sassy-buttons";

@import "ie";
@import "ie6";

// Widgets
@import "widgets/expanding_textarea";

// A few resets.
ul, ol {
  padding: 0;
  margin: 0;
}

// Everything should have 16px of horizontal padding.
.model-list-item, .label, .editable, .linker, .meta-info, .add-new-model, .editable ul, .editable ol, .inbox-actions p {
  padding: 0 16px;
}


@media (max-width:500px) {
  body {
    background: $grey90;
    /* Ensure that the soft keyboard doesn't cover the text area when editing */
    min-height: 1200px;
  }
}
@media (min-width:1280px) {
  body {
    background: inline-image("connect.png");
  }
}

#simple-gtd-app {
  display: none;
  background: white;
  width: 400px;
  @include apply-side-rhythm-border('left', 2px);
  @include apply-side-rhythm-border('right', 2px);
  @include h-borders(2px);
  @include single-box-shadow();
  // Reset left/right padding as panes should be a blank container.
  padding-left: 0;
  padding-right: 0;
  padding-top: 9px;
  position: relative;
  z-index: 3;
  float: left;
  @media (min-width:500px) {
    margin-left: 100px;
  }

  h1 {
    text-align: center;
    @include leader(0);
    @include trailer(0.25);
  }
}

#new-action-view, #new-project-view, #new-tag-view {
  position: relative;
  @include leader(0.5);
  @include trailer(2);

  input::-webkit-input-placeholder {
    font-style: italic;
  }
}

.collection-view {
  ul {
    @include no-bullets();
    padding: 0;
  }
  li {
    @include padding-leader(0.25);
    @include padding-trailer(0.25);
    position: relative;
    cursor: default;
    @include pie-clearfix();
    &:nth-child(2n) {
      background: $grey96;
    }
  }
  li.editing {
    padding: 0;
    border-bottom: 0;
  }
  li.cursor {
    &:before {
      content: "|";
      font-weight: bolder;
      color: blue;
      position: absolute;
      left: -10px;
      top: 13px;
    }
  }
}

/* Generic edit block styles */
.edit {
  display: none;
}
.editing {
  .edit {
    display: block;
  }
  .display, .blank-slate {
    display: none;
  }
}

/* strikeout done actions */
.done.model-list-item a.model-link {
  text-decoration: line-through;
  color: #777777;
}

ul#actions {
  a.model-link {
    padding-left: 20px;
  }
  .checkbox {
    background: inline-image("checkbox.png") no-repeat 0 0;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 2.5px;
    cursor: pointer;
    &.done {
      background-position: -16px 0;
    }
  }
}

#actions-view, #done-actions-view, #inbox, #projects-view, #done-projects-view {
  .label {
    @include adjust-font-size-to(18px, 1);
    margin-bottom: 0;
  }
}

nav {
  display: none;
  width: 319px;
  margin-bottom: -2px;
  @include leader(2);
  @media (max-width:500px) {
    margin-top: 9px;
  }
  @media (min-width:500px) {
    margin-left: 100px;
  }
  @include clearfix();
  ul {
    @include pie-clearfix();
    margin: 0;
    padding: 0;
    li {
      float: left;
    }
    a {
      padding: 3px 19px;
      position: relative;
      display: block;
      background: #133868;
      @include link-colors ($grey90, $grey90, $grey90, $grey90, $grey90);
      @include border-top-radius(10px);
      border-top: 2px solid #133868;
      border-left: 2px solid #133868;
      border-right: 2px solid #133868;
      outline: none;
      &:hover {
        text-decoration: none;
        background: lighten(#133868, 5%);
        outline: none;
      }
      &.active {
        background: white;
        z-index: 4;
        @include single-box-shadow();
        @include link-colors (#0b213d);
        outline: none;
      }
    }
    li.first {
      margin-right: 12px;
      margin-left: 5px;
    }
    /*li.last {*/
      /*margin-right: 5px;*/
      /*@include float-right();*/
    /*}*/
  }
}

#shadow-cover {
  width: 313px;
  margin-left: 2px;
  @media (min-width:500px) {
    margin-left: 102px;
  }
  height: 5px;
  position: absolute;
  background: white;
  z-index: 100;
  top: 66px;
}

// Add to items when moving them.
.sorting {
  background: white;
  cursor: move;
  padding: 0.5em;
  @include single-box-shadow();
}

.model-list-item {
  position: relative;
  a.model-link {
    @include unstyled-link();
    cursor: pointer;
    font-weight: normal;
  }
  .dropdown {
    display: none;
    top: 2px;
  }
}

.tag-list-item {
  > .model-list-item {
    @include padding-leader(.5);
    @include padding-trailer(.5);
    text-align: center;
    a {
      font-weight: bolder;
      @include adjust-font-size-to(18px, 1);
    }
  }
  ul {
    @include no-bullets();
  }
}

#projects-view .label {
  @include trailer(0.25);
}

// Tag full view
#tag {
  .editable-name {
    .editable {
      @include padding-leader(.5);
      @include padding-trailer(.5);
      @include margin-leader(.5);
      text-align: center;
      .display {
        color: inherit;
      }
    }
  }
}

// Project full view
#project {
  .editable-name {
    .editable {
      @include padding-leader(.5);
      @include padding-trailer(.5);
      @include margin-leader(.5);
      text-align: center;
      background: $grey90;
      .display {
        color: $grey40;
      }
    }
  }
}

// Action full view
#action {
  .editable-name {
    .editable {
      @include adjust-font-size-to(18px, 1, 21px);
      margin-top: 21px;
    }
  }
}

.dropdown {
  position: absolute;
  right: 5px;
  cursor: pointer;
  z-index: 10;
  ul {
    @include no-bullets();
    margin: 0;
  }
  .icon {
    border: 1px solid $grey90;
    color: blue;
    padding: 1px 3px;
  }
  &:hover, &.active {
    .icon {
      border: 1px solid black;
    }
  }
  &.over {
    display: block;
  }
  .commands {
    display: none;
    position: absolute;
    padding-left: 10px;
    top: 17px;
    right: 0;
    width: 100px;
    background: white;
    @include rhythm-borders(1px, 0.25);
    .command {
      padding: 0.375em 0.75em;
      cursor: pointer;
      border: none;
      background: white;
      &.active {
        background: $hovering;
      }
    }
  }
}

.full-view {
  .display {
    color: $grey30;
    p {
      @include force-wrap();
    }
  }
  .name {
    .display{
      @include adjust-font-size-to(21px, 1);
      font-weight: bold;
    }
  }
  >.dropdown {
    top: 78px;
  }
}

/* MetaInfo widget */
.meta-info {
  @include leader(1);
  @include leading-border(2px, .5);
  border-color: $grey90;
  color: $grey60;
  @include adjust-font-size-to(11px);
}

.date {
  color: $grey60;
  @include adjust-font-size-to(11px);
  padding-left: 5px;
}

/* Blank slate class */
.blank-slate {
  color: $not_important_color;
  text-decoration: underline;
  cursor: pointer;
}

/* Editable Widget */
.editable {
  @include rhythm(1);
  .display {
    cursor: pointer;
    // Reduce h1 to h5 size and h2-h5 to h6
    h1 {
      @include adjust-font-size-to(14px);
      @include leader(0);
      @include trailer(0);
    }
    h2,h3,h4,h5 {
      @include adjust-font-size-to(13px);
      @include leader(0);
      @include trailer(0);
    }
  }
  input[type="submit"].save {
    @include my-button($button_color);
  }
  .cancel {
    @include cancel-link();
  }
  .label {
    @include adjust-font-size-to(18px, 1);
    @include leader(0);
    @include trailer(0);
    padding: 0;
    color: $grey30;
  }
  &.done {
    text-decoration: line-through;
  }
}

/* Linker Widget */
.linker {
  position: relative;
  @include leader(0.25);
  @include pie-clearfix();
  color: $grey60;
  padding-right: 10px;
  &:hover {
    .edit-icon {
      display: block;
    }
    .name .delete {
      visibility: visible;
    }
  }
  .intro {
    float: left;
    margin-right: 0.5em;
  }
  .project .name a {
    background: $grey90;
  }
  .name {
    font-weight: bolder;
    cursor: pointer;
    a {
      color: $grey40;
      @include border-radius(5px);
      padding: 1px 5px;
    }
    .delete {
      visibility: hidden;
      @include border-radius(5px);
      padding: 1px 1px;
      color: $grey90;
      &:hover {
        color: $grey70;
      }
      &:active {
        background: $grey90;
      }
    }
  }
  .edit-icon {
    background: inline-image("edit.png") no-repeat 0 0;
    width: 15px;
    height: 21px;
    position: absolute;
    right: 5px;
    top: 0;
    cursor: pointer;
    display: none;
    &:hover {
      background-position: -15px 0;
    }
  }
  ul.autocomplete {
    list-style: none;
    position: absolute;
    left: 0;
    right: 0;
    display: none;
    background: white;
    z-index: 10;
    @include rhythm-borders(1px, 0.25);
    @include single-box-shadow();
    li {
      padding: 0.375em 0.75em;
      color: $grey10;
      cursor: pointer;
      &.active {
        background: $hovering;
      }
    }
  }
}

input[type="submit"], input[type="button"], button, .button {
  @include my-button();
}

code {
  background: $grey93;
  padding: 1px 5px 1px 5px;
  font-family: Inconsolata, Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

#menu-bar {
  width: 100%;
  position: fixed;
  height: 30px;
  background: black;
  z-index: 110;
  top: 0;
  @include single-box-shadow();
  color: $grey93;
  @media (max-width:500px) {
    position: relative;
  }
}

#global-search {
  margin-left: 100px;
  width: 297px;
  position: relative;
  input {
    margin-top: 5px;
    height: 20px;
    width: 100%;
    @include border-radius(10px);
    padding: 2px 10px;
    border: none;
    outline: none;
    background: white;
  }
  ul.autocomplete {
    list-style: none;
    position: absolute;
    max-width: 500px;
    left: 10px;
    right: -200px;
    top: 30px;
    display: none;
    background: white;
    margin: 0;
    @include rhythm-borders(1px, 0.25);
    @include single-box-shadow();
    li {
      padding: 0.375em 0.75em;
      color: $grey10;
      cursor: pointer;
      &.active {
        background: #A6E8FF;
      }
      &.done {
        text-decoration: line-through;
      }
    }
  }
  .project-link {
    cursor: pointer;
    color: $grey40;
    text-decoration: underline;
  }
}

.tag-link {
  @include border-radius(5px);
  padding: 1px 5px;
  a {
    color: inherit;
  }
}

.add-new-model {
  @include leader(0.5);
  @include trailer(0.5);
  input[type="submit"].add {
    @include my-button($button_color);
  }
  .cancel {
    @include cancel-link();
  }
  .focused, .expanding-textarea {
    display: none;
  }
  .blank-slate {
    text-decoration: none;
    cursor: pointer;
    @include my-button($button_color, .85em);
  }
}
.project-link, .tag-link, .linker {
  @include adjust-font-size-to(11px);
}

.pane {
  background: white;
  width: 400px;
  @include apply-side-rhythm-border('left', 2px);
  @include apply-side-rhythm-border('right', 2px);
  @include h-borders(2px);
  @include single-box-shadow();
  // Reset left/right padding as panes should be a blank container.
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  z-index: 3;
  margin-left: 20px;
  float: left;
  display: none; // Panes are empty by default.
}

/* Touch screen specific items */
// Remove outline around element on mobile devices.
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
