@import "compass/css3/box-shadow";

.expanding-textarea {
  textarea {
    @include trailer(0.25);
    @include single-box-shadow($inset: true);

    padding: 10px;
    background: transparent;
    border: 0;
    outline: none;
    margin: 0;
    overflow: hidden;
    font: inherit;
    line-height: 1.5;
    /* Make the text soft-wrap */
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #4D4D4D;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
  }
}
