// Greys
$grey7: #111111;
$grey10: #1A1A1A;
$grey13: #222222;
$grey20: #333333;
$grey30: #4D4D4D;
$grey40: #666666;
$grey50: #808080;
$grey60: #999999;
$grey70: #B2B2B2;
$grey80: #CCCCCC;
$grey87: #DDDDDD;
$grey90: #E6E6E6;
$grey93: #eeeeee;
$grey95: #F2F2F2;
$grey98: #FAFAFA;
$grey99: #FCFCFC;
$white: #FFFFFF;

// Status colors
$messages_color: #003366;
$messages_background: #bbddff;
$messages_border: 1px solid #aaccee;
$warning_color: #884400;
$warning_background: #ffee66;
$warning_border_color: #eedd55;
$error_color: #fff;
$error_background: #ee6633;
$error_border_color: #dd5522;
$status_color: #336600;
$status_background: #ccff88;
$status_border_color: #bbee77;
