/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "normalize";
@import "base";
@import "typography";
@import "compass/css3";

@media (max-width:500px) {
  body {
    background: $grey90;
    /* Ensure that the soft keyboard doesn't cover the text area when editing */
    min-height: 1200px;
  }
}
@media (min-width:1280px) {
  body {
    background: url(../img/connect.png);
  }
}

#simple-gtd-app {
  background: white;
  width: 279px;
  @include padding-leader(0.5);
  @include apply-side-rhythm-border('left', 2px);
  @include apply-side-rhythm-border('right', 2px);
  @include h-borders(2px);
  @include single-box-shadow();
  position: relative;
  z-index: 3;
  @media (min-width:500px) {
    margin-left: 100px;
  }

  h1 {
    font-weight: bold;
    text-align: center;
    @include leader(0);
    @include trailer(0.25);
  }
}

#new-action-view, #new-project-view, #new-tag-view {
  position: relative;
  @include leader(0.5);
  @include trailer(2);

  input::-webkit-input-placeholder {
    font-style: italic;
  }
}

.collection-view {
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    @include padding-leader(0.5);
    @include padding-trailer(0.5);
    @include trailing-border($lines: 0.5);
    border-color: $grey90;
    position: relative;
    cursor: default;
    @include pie-clearfix();
  }
  li.editing {
    padding: 0;
    border-bottom: 0;
  }
  li.cursor {
    &:before {
      content: "|";
      font-weight: bolder;
      color: blue;
      position: absolute;
      left: -10px;
      top: 13px;
    }
  }
}

/* Generic edit block styles */
.edit {
  display: none;
}
.editing {
  .edit {
    display: block;
  }
  .display, .blank-slate {
    display: none;
  }
  textarea {
    @include padding-leader(0.5);
    @include padding-trailer(0.5);
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: 264px;
    margin: 0;
    outline: none;
    @include single-box-shadow($inset: true);
  }
}

#actions, #projects, #tags {
  padding: 0;
  margin: 0;
  .check {
    position: relative;
    top: 4px;
    margin: 0 7px 0 7px;
    float: left;
  }
  .done .name {
    text-decoration: line-through;
    color: #777777;
  }

}

#done-actions-view {
  #actions {
    &:before {
      content: "Recently completed";
      font-weight: bold;
    }
  }
}

nav {
  width: 319px;
  margin-bottom: -2px;
  @include leader(0.5);
  @media (min-width:500px) {
    margin-left: 100px;
  }
  ul {
    @include pie-clearfix();
    margin: 0;
    padding: 0;
    li {
      float: left;
    }
    a {
      padding: 3px 16px;
      position: relative;
      display: block;
      background: #133868;
      @include link-colors ($grey90, $grey90, $grey90, $grey90, $grey90);
      @include border-top-radius(10px);
      border-top: 2px solid #133868;
      border-left: 2px solid #133868;
      border-right: 2px solid #133868;
      outline: none;
      &:hover {
        text-decoration: none;
        background: lighten(#133868, 5%);
        outline: none;
      }
      &.active {
        background: white;
        z-index: 4;
        @include single-box-shadow();
        @include link-colors (#0b213d);
        outline: none;
      }
    }
    li.first {
      margin-right: 12px;
      margin-left: 5px;
    }
    li.last {
      margin-right: 5px;
      @include float-right();
    }
  }
}

#shadow-cover {
  width: 317px;
  margin-left: 2px;
  @media (min-width:500px) {
    margin-left: 102px;
  }
  height: 10px;
  position: absolute;
  background: white;
  z-index: 100;
  top: 39px;
}

// Add to items when moving them.
.sorting {
  background: white;
  cursor: move;
  padding: 0.5em;
  @include single-box-shadow();
}

a.model-link {
  @include unstyled-link();
  cursor: pointer;
  font-weight: normal;
}

.full-view {
  .display {
    color: $grey30;
    p {
      @include force-wrap();
    }
  }
  .meta-info {
    @include leader(1);
    @include leading-border(2px, .5);
    border-color: $grey90;
    color: $grey60;
    @include adjust-font-size-to(12px);
  }
  .name .display{
    @include adjust-font-size-to(18px, 1);
    font-weight: bold;
  }
}

/* Blank slate class */
.blank-slate {
  color: $grey80;
  text-decoration: underline;
  cursor: pointer;
}

/* Editable Widget */
.editable {
  @include rhythm(1);
  .display {
    cursor: pointer;
  }
  input.save {
    background-color: #3da440;
    border-color: #286c2a;
  }
  input.cancel {
    background-color: $grey70;
    @include rhythm-borders(1px, 0.5);
    margin-left: 0.5em;
  }
  .label {
    @include leader(0);
    @include trailer(0);
    color: $grey30;
  }
}

/* Linker Widget */
.linker {
  position: relative;
  @include leader(0.25);
  @include pie-clearfix();
  color: $grey60;
  /* Add some extra space to activate the edit icon */
  margin-right: -10px;
  padding-right: 10px;
  &:hover {
    .edit-icon {
      display: block;
    }
    .name .delete {
      visibility: visible;
    }
  }
  .intro {
    float: left;
    margin-right: 0.5em;
  }
  .name {
    font-weight: bolder;
    cursor: pointer;
    a {
      @include unstyled-link();
      background-color: lightgreen;
      color: $grey40;
      @include border-radius(5px);
      padding: 1px 5px;
    }
    .delete {
      visibility: hidden;
      @include border-radius(5px);
      padding: 1px 1px;
      color: $grey90;
      &:hover {
        color: $grey70;
      }
      &:active {
        background: $grey90;
      }
    }
  }
  .edit-icon {
    background: url(../img/edit.png) no-repeat 0 0;
    width: 15px;
    height: 21px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    display: none;
    &:hover {
      background-position: -15px 0;
    }
  }
  ul.autocomplete {
    list-style: none;
    position: absolute;
    left: 0;
    right: 0;
    display: none;
    background: white;
    z-index: 10;
    @include rhythm-borders(1px, 0.25);
    @include single-box-shadow();
    li {
      padding: 0.375em 0.75em;
      color: $grey10;
      cursor: pointer;
      &.active {
        background: #A6E8FF;
      }
    }
  }
}

input[type="submit"], input[type="button"], button, .button {
  background-color: #dcdcdc;
  @include rhythm-borders(1px, 0.5);
  border-color: $grey70;
  @include single-box-shadow();
  @include leader(0.25);
  color: white;
  font-weight: 700;
  @include trailer(0.5);
}

/* TODO this should just be .expanding-area */
#simple-gtd-app .editable .edit .expanding-area {
  position: relative;
  background: #fff;
  > textarea,
  > pre {
    background: transparent;
    /* Make the text soft-wrap */
    @include force-wrap();
    font: inherit;
    line-height: inherit;
    width: 264px;
    padding: 0.75em 0.5em;
    margin: 0;
    border: 0;
    outline: 0;
  }
  > textarea {
    /* The border-box box model is used to allow
     * padding whilst still keeping the overall width
     * at exactly that of the containing element.
     */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    /* This height is used when JS is disabled */
    height: 100px;
  }
  &.active > textarea {
    /* Hide any scrollbars */
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    /* Remove WebKit user-resize widget */
    resize: none;
  }
  > pre {
    display: none;
  }
  &.active > pre {
    display: block;
    /* Hide the text; just using it for sizing */
    visibility: hidden;
  }
}

code {
  background: $grey93;
  padding: 1px 5px 1px 5px;
  font-family: Inconsolata, Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}
