/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "base";
@import "typography";
@import "compass/css3";

#simple-gtd-app {
  width: 480px;
  margin: 0 auto 40px;
  background: white;
  padding: 20px;
  @include box-shadow();

  h1 {
    font-weight: bold;
    text-align: center;
    padding: 20px 0 30px 0;
  }
}

#new-action-view {
  position: relative;

  input {
    width: 466px;
    font-size: 24px;
    font-family: inherit;
    line-height: 1.4em;
    border: 1px solid #999999;
    outline: none;
    padding: 6px;
    @include single-box-shadow($inset: true);
  }

  input::-webkit-input-placeholder {
    font-style: italic;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

#actions {
  margin-top: 10px;

  li {
    padding: 12px 20px 11px 0;
    position: relative;
    font-size: 24px;
    line-height: 1.1em;
    border-bottom: 1px solid #cccccc;
  }

  li:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
  }

  li.editing {
    padding: 0;
    border-bottom: 0;
  }

  .editing .display, .edit {
    display: none;
  }

  .editing {
    .edit {
      display: block;
    }

    input {
      width: 444px;
      font-size: 24px;
      font-family: inherit;
      margin: 0;
      line-height: 1.6em;
      border: 1px solid #999999;
      outline: none;
      padding: 10px 7px 0px 27px;
      @include single-box-shadow($inset: true);
    }
  }

  .check {
    position: relative;
    top: 9px;
    margin: 0 10px 0 7px;
    float: left;
  }

  .done .action-content {
    text-decoration: line-through;
    color: #777777;
  }

  .action-destroy {
    position: absolute;
    right: 5px;
    top: 14px;
    display: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: url(../img/destroy.png) no-repeat 0 0;
  }

  li:hover .action-destroy {
    display: block;
  }

  .action-destroy:hover {
    background-position: 0 -20px;
  }
}
