/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "normalize";
@import "base";
@import "typography";
@import "compass/css3";

@media (max-width:500px) {
  body {
    background: $grey90;
  }
}
@media (min-width:1280px) {
  body {
    background: url(../img/connect.png);
  }
}

#simple-gtd-app {
  background: white;
  width: 279px;
  @include padding-leader(0.5);
  @include apply-side-rhythm-border('left', 2px);
  @include apply-side-rhythm-border('right', 2px);
  @include h-borders(2px);
  @include single-box-shadow();
  position: relative;
  z-index: 3;
  @media (min-width:500px) {
    margin-left: 100px;
  }

  h1 {
    font-weight: bold;
    text-align: center;
    @include leader(0);
    @include trailer(0.25);
  }
}

#new-action-view, #new-project-view, #new-tag-view {
  position: relative;
  @include leader(0.5);
  @include trailer(2);

  input[type="text"], textarea {
    width: 264px;
    @include rhythm-borders();
    border-color: #999999;
    outline: none;
    padding: .5em;
    @include single-box-shadow($inset: true);
  }

  input::-webkit-input-placeholder {
    font-style: italic;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

#actions, #projects, #tags {
  padding: 0;
  margin: 0;
  li {
    @include padding-leader(0.5);
    @include padding-trailer(0.5);
    @include trailing-border($lines: 0.5);
    border-color: $grey90;
    position: relative;
    cursor: default;
    @include pie-clearfix();
  }
  li.editing {
    padding: 0;
    border-bottom: 0;
  }
  li.cursor {
    &:before {
      content: "|";
      font-weight: bolder;
      color: blue;
      position: absolute;
      left: -10px;
      top: 13px;
    }
  }
  .edit {
    display: none;
  }
  .editing {
    .edit {
      display: block;
    }
    .edit-link, .display, .blank-slate {
      display: none;
    }
    input[type="text"], textarea {
      @include padding-leader(0.5);
      @include padding-trailer(0.5);
      padding-left: 0.5em;
      padding-right: 0.5em;
      width: 264px;
      margin: 0;
      outline: none;
      @include single-box-shadow($inset: true);
    }
  }
  .check {
    position: relative;
    top: 4px;
    margin: 0 7px 0 7px;
    float: left;
  }
  .done .name {
    text-decoration: line-through;
    color: #777777;
  }

}

#done-actions-view {
  #actions {
    &:before {
      content: "Completed actions";
      font-weight: bolder;
    }
  }
}

nav {
  width: 319px;
  margin-bottom: -2px;
  @include leader(0.5);
  @media (min-width:500px) {
    margin-left: 100px;
  }
  ul {
    @include pie-clearfix();
    margin: 0;
    padding: 0;
    li {
      float: left;
    }
    a {
      padding: 3px 16px;
      position: relative;
      display: block;
      background: #133868;
      @include link-colors ($grey90, $grey90, $grey90, $grey90, $grey90);
      @include border-top-radius(10px);
      border-top: 2px solid #133868;
      border-left: 2px solid #133868;
      border-right: 2px solid #133868;
      outline: none;
      &:hover {
        text-decoration: none;
        background: lighten(#133868, 5%);
        outline: none;
      }
      &.active {
        background: white;
        z-index: 4;
        @include single-box-shadow();
        @include link-colors (#0b213d);
        outline: none;
      }
    }
    li.first {
      margin-right: 12px;
      margin-left: 5px;
    }
    li.last {
      margin-right: 5px;
      @include float-right();
    }
  }
}

#shadow-cover {
  width: 317px;
  margin-left: 2px;
  @media (min-width:500px) {
    margin-left: 102px;
  }
  height: 10px;
  position: absolute;
  background: white;
  z-index: 100;
  top: 39px;
}

// Add to items when moving them.
.sorting {
  background: white;
  cursor: move;
  padding: 0.5em;
  @include single-box-shadow();
}

a.model-link {
  @include unstyled-link();
  cursor: pointer;
  font-weight: normal;
}

.full-view {
  .description {
    @include leader(1);
    color: $grey30;
  }
  .meta-info {
    @include leader(1);
    @include leading-border(2px, .5);
    border-color: $grey90;
    color: $grey60;
    @include adjust-font-size-to(12px);
  }
  .model-name {
    @include adjust-font-size-to(18px, 1);
  }
  .project, .tags {
    @include leader(0.25);
    color: $grey60;
    .project-name,.tag-name {
      font-weight: bolder;
      cursor: pointer;
      display: inline-block;
      padding: 1px 3px;
      color: $grey40;
      background-color: lightgreen;
      @include border-radius(5px);
    }
  }
  .edit-link {
    display: inline-block;
    padding: 1px 3px;
    background: #ffffcc;
    @include border-radius(3px);
    text-decoration: underline;
    cursor: pointer;
    color: $grey80;
  }
  input.save {
    background-color: #3da440;
    border-color: #286c2a;
  }
  input.cancel {
    background-color: $grey70;
    @include rhythm-borders(1px, 0.5);
    margin-left: 0.5em;
  }
  .blank-slate {
    text-decoration: underline;
    cursor: pointer;
  }
}

input[type="submit"], input[type="button"], button, .button {
  background-image: url(https://d2k1ftgv7pobq7.cloudfront.net/images/a35b0da5326591f9652ec7c51e44a86f/gradient.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #dcdcdc;
  @include rhythm-borders(1px, 0.5);
  border-color: $grey70;
  @include single-box-shadow();
  @include leader(0.25);
  color: white;
  font-weight: 700;
  @include trailer(0.5);
}
