/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "base";
@import "typography";
@import "compass/css3";

#simple-gtd-app {
  width: 300px;
  padding: 10px;
  background: white;
  @media (min-width:500px) {
    margin-left: 100px;
  }

  h1 {
    font-weight: bold;
    text-align: center;
    @include leader(0.5);
    @include trailer(0.5);
  }
}

#new-action-view {
  position: relative;

  input {
    width: 284px;
    @include rhythm-borders();
    border-color: #999999;
    outline: none;
    padding: .5em;
    @include single-box-shadow($inset: true);
  }

  input::-webkit-input-placeholder {
    font-style: italic;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

#actions {
  @include leader(.5);
  li {
    @include padding-leader(0.5);
    @include padding-trailer(0.5);
    @include trailing-border($lines: 0.5);
    border-color: #cccccc;
    position: relative;
    cursor: default;
    @include pie-clearfix();
  }
  li.editing {
    padding: 0;
    border-bottom: 0;
  }
  li.cursor {
    &:before {
      content: "|";
      font-weight: bolder;
      color: blue;
      position: absolute;
      left: -10px;
      top: 13px;
    }
  }
  .editing .display, .edit {
    display: none;
  }
  .editing {
    .edit {
      display: block;
    }
    input {
      @include padding-leader(0.5);
      @include padding-trailer(0.5);
      padding-left: 0.5em;
      padding-right: 0.5em;
      width: 284px;
      margin: 0;
      outline: none;
      @include single-box-shadow($inset: true);
    }
  }
  .check {
    position: relative;
    top: 4px;
    margin: 0 7px 0 7px;
    float: left;
  }
  .done .action-name {
    text-decoration: line-through;
    color: #777777;
  }

  .action-destroy {
    position: absolute;
    right: -10px;
    top: 11px;
    display: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: url(../img/destroy.png) no-repeat 0 0;
  }

  li:hover .action-destroy {
    display: block;
  }

  .action-destroy:hover {
    background-position: 0 -20px;
  }

}

#done-actions-view {
  #actions {
    &:before {
      content: "Completed actions";
      font-weight: bolder;
    }
  }
}
